<head>
  <title>cookieclicker</title>
</head>

<body>
	{{> home}}
</body>

<template name="home">
  	<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
		{{> mainMenu}}
	    <h1>Welcome to the cookie battle net</h1>
        <div class="uk-grid">
            <div class="uk-width-1-3">
                {{> clicker}}
            </div>
            <div class="uk-width-1-3">
                {{> store}}
            </div>
        </div>
    </div>
	{{> mobileMenu}}  
</template>

<template name="clicker">
  <a id="clickerup" class="uk-animation-scale" data-docs-animation="uk-animation-scale"><img src="img/cookie.png"/></a>
  <p>You currently have {{counter}} cookies!</p>
  <p>And you've create a total of {{total}} cookies!</p>
</template>

<template name="mainMenu">
	<nav class="uk-navbar uk-margin-large-bottom">
        <a class="uk-navbar-brand uk-hidden-small" href="layouts_frontpage.html">Menu</a>
        <ul class="uk-navbar-nav uk-hidden-small">
            <li class="uk-active">
                <a href="layouts_frontpage.html">Frontpage</a>
            </li>
            <li>
                <a href="#">{{> loginButtons}}</a>
            </li>
        </ul>
        <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
        <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Menu</div>
    </nav>
</template>

<template name="mobileMenu">
	<div id="offcanvas" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas">
                <li class="uk-active">
                    <a href="layouts_frontpage.html">Frontpage</a>
                </li>
                <li>
                    <a href="#">{{> loginButtons}}</a>
                </li>
            </ul>
        </div>
    </div>
</template>

<template name="store">
    <h2>Store</h2>
    {{cookieincome}} cookies per second
    {{#each buildings}}
        {{> building}}
    {{/each}}
</template>

<template name="building">
    <p>
        <h4>{{name}} (adds {{income}} cookies per second)</h4>
        <button type="button" class="building-buy-button uk-button uk-button-success" {{isEnabled}} id="{{_id}}" ><i class="uk-icon-shopping-cart"></i> Buy for {{cost}} cookies</button>
        <span class="uk-badge">{{hasBuildings _id }}</span>
    </p>
</template>


